* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 100vw;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 3rem;
    color: #ff6347;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-section {
    margin-bottom: 40px;
}

input[type="text"] {
    padding: 12px;
    width: 500px; /* Aumenta el ancho del campo de texto */
    font-size: 1rem;
    margin-right: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #ff6347;
}

button {
    padding: 12px 20px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff4500;
}

.proxy-section {
    margin-top: 20px;
    width: 90%; /* Aumenta el ancho a un 90% del contenedor principal */
    max-width: 1200px; /* Limita el máximo tamaño del contenedor */
    padding: 0 20px; /* Añade un poco de padding para no tocar los bordes */
}

iframe {
    width: 100%; /* Hace que el iframe ocupe todo el ancho del contenedor */
    height: 600px; /* Ajusta la altura si es necesario */
    border: 5px solid #ddd; /* Aumenta el grosor del borde del iframe */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    margin-top: 40px;
    font-size: 0.9rem;
    color: #777;
}
